# Notebook for Toronto City Analysis

# Issue 1

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [27]:
#Get data from website
response = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(response.content,'lxml')
table = soup.find_all('table')[0]
list1 = pd.read_html(str(table))
df = pd.DataFrame(list1[0])
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [29]:
#Clean not assigned borugh and neighbourhoods from dataframe
df = df[df.Borough != "Not assigned"]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [41]:
#Grouping by the same postcode neighbourhoods
df=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [85]:
#Let's check the shape
df.shape

(103, 3)

# Issue 2

In [45]:
coord_df = pd.read_csv("https://cocl.us/Geospatial_data")

In [46]:
coord_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [118]:
result = pd.merge(df, coord_df, how='left', on=[df['Postcode'], coord_df['Postal Code']])

In [127]:
result = result.drop(columns=['key_0', 'key_1','Postal Code'])
result.rename(columns={'Postcode': 'Postalcode'})

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside,Guildwood,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"St. Phillips,Kingsview Village,Richview Garden...",43.688905,-79.554724
101,M9V,Etobicoke,"Humbergate,Jamestown,Mount Olive,Albion Garden...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

# Issue 3

In [135]:
sr_toronto = pd.Series(result.Borough)
df_toronto= result[sr_toronto.str.contains('Toronto', regex=False)]
#Borough that contains word Toronto
df_toronto

,Postcode,Borough,Neighbourhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"Riverdale,The Danforth West",43.679557,-79.352188
42,M4L,East Toronto,"India Bazaar,The Beaches West",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
45,M4P,Central Toronto,Davisville North,43.712751,-79.390197
46,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
47,M4S,Central Toronto,Davisville,43.704324,-79.388790
48,M4T,Central Toronto,"Summerhill East,Moore Park",43.689574,-79.383160
49,M4V,Central Toronto,"South Hill,Rathnelly,Forest Hill SE,Summerhill...",43.686412,-79.400049
50,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
51,M4X,Downtown Toronto,"St. James Town,Cabbagetown",43.667967,-79.367675
52,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
53,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
54,M5B,Downtown Toronto,"Garden District,Ryerson",43.657162,-79.378937
55,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
56,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
57,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
58,M5H,Downtown Toronto,"King,Adelaide,Richmond",43.650571,-79.384568
59,M5J,Downtown Toronto,"Union Station,Toronto Islands,Harbourfront East",43.640816,-79.381752
60,M5K,Downtown Toronto,"Design Exchange,Toronto Dominion Centre",43.647177,-79.381576
61,M5L,Downtown Toronto,"Commerce Court,Victoria Hotel",43.648198,-79.379817
63,M5N,Central Toronto,Roselawn,43.711695,-79.416936
64,M5P,Central Toronto,"Forest Hill North,Forest Hill West",43.696948,-79.411307
65,M5R,Central Toronto,"The Annex,North Midtown,Yorkville",43.672710,-79.405678
66,M5S,Downtown Toronto,"University of Toronto,Harbord",43.662696,-79.400049
67,M5T,Downtown Toronto,"Grange Park,Kensington Market,Chinatown",43.653206,-79.400049
68,M5V,Downtown Toronto,"CN Tower,Harbourfront West,South Niagara,Railw...",43.628947,-79.394420
69,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.646435,-79.374846
70,M5X,Downtown Toronto,"Underground city,First Canadian Place",43.648429,-79.382280
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village,Dufferin",43.669005,-79.442259
77,M6J,West Toronto,"Trinity,Little Portugal",43.647927,-79.419750
78,M6K,West Toronto,"Exhibition Place,Brockton,Parkdale Village",43.636847,-79.428191
82,M6P,West Toronto,"High Park,The Junction South",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale,Roncesvalles",43.648960,-79.456325
84,M6S,West Toronto,"Swansea,Runnymede",43.651571,-79.484450
85,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558